<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head-placeholder token="{{ placeholder_token }}">
    {% set the_title = head_title|safe_join(' |') %}
    <title>{{ the_title|replace({'Drupal': ' FOSSEE'}) }}</title>
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
  </head>
  {% if bann_en == 1%}
    <body{{ attributes }} onscroll="RemoveBanner();">
  {% else %}
      <body{{ attributes }}>
  {% endif %}
  {% if errpage.is == 0 %}
      <div id="fosseeheader">
        <a href="{{ base_url }}"><img src="{{ base_url }}/{{ the_logo }}" alt="" id="logo"></a>
        <div id="mainMenu">
            <ul>
              {% for item in main_menu %}
                <li><a href="{{ item.link__uri|replace({'internal:': base_url }) }}">{{ item.title }}</a></li>
              {% endfor %}
            </ul>
        </div>
        <label for="" id="toggle" onclick="showNavBar()">&#9776;</label>
    </div>
    {% endif %}
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}

    <js-bottom-placeholder token="{{ placeholder_token }}">

    <div id="sideNavBar">
        <!-- Button to close the side Navigation Bar-->
        <label onclick="closeBar()">&lsaquo;</label>
        <ul>
              {% for item in main_menu %}
                <li><a href="{{ item.link__uri|replace({'internal:': base_url }) }}">{{ item.title }}</a></li>
              {% endfor %}
        </ul>
    </div>

        {% if errpage.is == 0 %}
       <div id="footer">
        <div id="poster" style="grid-area: poster;">
            <h2>Poster</h2>
            <img src="{{ base_url }}/{{ directory }}/images/portfolios/poster.png" alt="">
        </div>
        <div id="brochure" style="grid-area: bro;">
            <h2>Brochure</h2>
            <img src="{{ base_url }}/{{ directory }}/images/portfolios/Fossee_Flyer.png" alt="">
        </div>
        <div id="contacts" style="grid-area: contacts;">
            <h2>Contacts</h2>
            <table>
                <tr>
                    <td>
                        <i class="fa fa-home pr-10"></i>
                    </td>
                    <td>
                        <p>FOSSEE, IIT Bombay</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-globe pr-10"></i>
                    </td>
                    <td>
                        <p>Mumbai, India</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-phone pr-10"></i>
                    </td>
                    <td>
                        <p>Phone : (+91) 22 25764133 </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-envelope pr-10"></i>
                    </td>
                    <td>
                        <p>Email : info [at] fossee[dot]in</p>
                    </td>
                </tr>
            </table>
        </div>
        <div id="mhrd" style="grid-area: mhrd;">
            <h2>MHRD</h2>
            <p>Govt of India.</p>
            <img src="{{ base_url }}/{{ directory }}/images/iitb.png" alt="">
        </div>
        <div id="cc">
            <p>This work is licensed under a 
                <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">
                    Creative Commons Attribution-ShareAlike 4.0 International License</a>
                <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">
                    <i class="fa fa-cc" style="font-size: 3em;"></i>
                </a>
            </p>
        </div>
        <div id="icons">
            <div>
                <a href="https://fossee.in/data/project-statistics.php"><i class="fa fa-signal"></i></a>
            </div>
            <div>
                 <a href="https://www.facebook.com/FOSSEE-894448903953823/?fref=ts"><i class="fa fa-facebook"></i></a>
            </div>
            <div>
                 <a href="https://twitter.com/FOSSEENMEICT"><i class="fa fa-twitter"></i></a>
            </div>
            <div>
                 <a href="https://www.youtube.com/channel/UCMtt6exSCmZI7JU73S6Wz_A"><i class="fa fa-youtube"></i></a>
            </div>
            <div>
                 <a href="https://github.com/orgs/FOSSEE/dashboard"><i class="fa fa-github"></i></a>
            </div>
        </div>
    </div>
    {% endif %}
    <script src="{{ base_url }}/{{ directory }}/js/navbar.js"></script>
  {% if bann_en == 1%}
    <style>
        :root{
            --gap:175px;
        }
    </style>
  {% endif %}
  </body>
</html>
