<div id="page-wrapper">
  <div id="page">
    
        <div id="fosseeheader">
        <img src="{{ base_url }}/{{ directory }}/images/logo.png" alt="" id="logo">
        <div id="mainMenu">
            <ul>
              {% for item in main_menu %}
                <li><a href="{{ item.link__uri }}">{{ item.title }}</a></li>
              {% endfor %}
            </ul>
        </div>
                    <label for="" id="toggle" onclick="showNavBar()">&#9776;</label>
      </div>

    <header id="header" class="header" role="banner" aria-label="{{ 'Site header'|t }}">
      <div class="section layout-container clearfix">
        {{ page.secondary_menu }}
        {{ page.header }}
        {{ page.primary_menu }}
      </div>
    </header>
    
    <div id="sideNavBar">
        <!-- Button to close the side Navigation Bar-->
        <label onclick="closeBar()">&lsaquo;</label>
        <ul>
              {% for item in main_menu %}
                <li><a href="{{ item.link__uri }}">{{ item.title }}</a></li>
              {% endfor %}
        </ul>
    </div>
    <h2 class="heading">Projects</h2>

    <div id="projects">
        {% set i = 0 %}
        {% for proj in projects %}
        {% if proj.enabled == 1 %}
            {# {{ proj.title }} #}
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');" style="grid-area:e{{ i }}">
            <div class="flipper">
                <div class="front">
                    <img src="{{ base_url }}/{{ directory }}/images/icons/{{ proj.icon }}" alt="">
                </div>
                <div class="back">
                    <p>{{ proj.description }}</p>
                </div>
            </div>
        </div>
        {% set i = i + 1 %}
        {% endif %}
        {% endfor %}
    </div>


    <div id="footer">
        <p>This work is licensed under a
            <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>
            <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">
                <i class="fa fa-cc" style="font-size: 3em;"></i>
            </a>
        </p>
    </div>



    {# <footer class="site-footer">
      <div class="layout-container">
        {% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}
          <div class="site-footer__top clearfix">
            {{ page.footer_first }}
            {{ page.footer_second }}
            {{ page.footer_third }}
            {{ page.footer_fourth }}
          </div>
        {% endif %}
        {% if page.footer_fifth %}
          <div class="site-footer__bottom">
            {{ page.footer_fifth }}
          </div>
        {% endif %}
      </div>
    </footer> #}

  </div>
</div>
