{# <div id="alwaystop">{{ page.header }}</div> #}
{% if errpage.is == 1 %}
  <style>
      @import url("{{ base_url }}/{{ directory }}/css/error.css");
  </style>
  {# <h2>Error</h2> #}
  <div class="cloud">☁</div>
  <div class="cloud">☁</div>
  <div class="cloud">☁</div>
  <div class="cloud">☁</div>

  <div id="centercontainer">
    <div id="centerbox">
    
    <div id="no">
      {{ errpage.no }}
      </div>
    <div id="message">
      {% if errpage.no == '404' %}
        Page not found
      {% elseif errpage.no == '403'%}
        Forbidden Error
      {% elseif errpage.no == '401'%}
        Unauthorized Error
      {% endif %}
    </div>
        <img src="{{ base_url }}/{{ directory }}/images/logo.png" alt="" id="logo">
    </div>
  </div>
{% else %}

  <style>
      @import url("{{ base_url }}/{{ directory }}/css/block.css");
      @import url("{{ base_url }}/{{ directory }}/css/form.css");
      @import url("{{ base_url }}/{{ directory }}/css/bootstrap.css");
  </style>

  {% if bann_en == 1 %}
    <div id="banner_header">
      <div>
        {{ page.header }}
      </div>
    </div>
  {% endif %}

<div class="layout-container">    

      <div class="layout-sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </div>

      <div class="layout-sidebar-second" role="complementary">
        {{ page.sidebar_second }}
      </div>

    <div class="layout-content">
      {{ page.content }}
    </div>

</div>
<script src="{{ base_url }}/{{ directory }}/js/jquery-3.3.1.min.js"></script>
{% endif %}
